* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: Arial, sans-serif;
}
.main {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100vh;
  background: radial-gradient(at bottom right, #724676 0, #724676 8px, rgba(114,70,118,0.2) 8px, rgba(114,70,118,0.2) 16px, rgba(114,70,118,0.75) 16px, rgba(114,70,118,0.75) 24px, rgba(114,70,118,0.25) 24px, rgba(114,70,118,0.25) 32px, rgba(114,70,118,0.3) 32px, rgba(114,70,118,0.3) 40px, rgba(114,70,118,0.75) 40px, rgba(114,70,118,0.75) 48px, rgba(114,70,118,0.2) 48px, rgba(114,70,118,0.2) 56px, transparent 56px, transparent 64px), radial-gradient(at top left, transparent 0, transparent 8px, rgba(114,70,118,0.2) 8px, rgba(114,70,118,0.2) 16px, rgba(114,70,118,0.75) 16px, rgba(114,70,118,0.75) 24px, rgba(114,70,118,0.3) 24px, rgba(114,70,118,0.3) 32px, rgba(114,70,118,0.25) 32px, rgba(114,70,118,0.25) 40px, rgba(114,70,118,0.75) 40px, rgba(114,70,118,0.75) 48px, rgba(114,70,118,0.2) 48px, rgba(114,70,118,0.2) 56px, #724676 56px, #724676 64px, transparent 64px, transparent 160px);
background-blend-mode: multiply;
background-size: 64px 64px, 64px 64px;
background-color: #6079b2;
}
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 35rem;
  border: 0.2rem solid black;
  padding: 2rem;
  border-radius: 3rem;
  background-color: rgb(235, 230, 230);
}
.main-content.labels {
  display: contents;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-content.labels input {
  width: 15rem;
  border-radius: 0.5rem;
  border: 0.2rem solid black;
  margin: 1%;
  text-align: center;
}
.main-content.labels span{
    color: red;
    font-weight: bold;
    text-align: center;
    display: none;
}
.main-content.labels {
  font-size: 1.5rem;
}
.button-submit {
  width: 10rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}
input:invalid ~ span{
    display: block ;
}
.link{
    background-color: black;
    position: absolute;
    top: 70rem;
    width: 30rem;
    height: 6rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link a{
  text-decoration: none;
  font-size: 4rem;
  color: white;
}
.link a:hover{
  transition: 0.4s;
  margin-left: 2rem;
  color: aquamarine;
}
.title{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 8rem;
  left: 50rem;
}
.title h1{
  font-size: 5rem;
  color: rgb(255, 243, 133);
}
.title h2{
  font-size: 3rem;
  color: white;
  text-decoration: underline;
}